body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#app {
  width: 350px;
  margin: auto;
}

select, button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
}

#totalCost {
  margin-top: 20px;
  font-weight: bold;
}