/*menu =========================  */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e8fb1;
    color: #fff;
  }
  
  .menu-item {
    padding: 30px 20px;
    font-size: 16px;
    letter-spacing: 0.1rem;
    flex-grow: 1;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-right: 1px solid #fff;
  }
  