
/* 印刷設定 =========================  */
@media print {
    body * {
     visibility: hidden;
      padding: 0;
      margin: auto 0;
      height: 0;
    }

    .form-field{
      display: none;
    }

    .title {
      padding: 0;
    }
    #estimate-form {
      padding: 0;
    }

    #estimate-result, #estimate-result *,#company-info, #company-info * {
      visibility: visible;
      height: auto;
    }

  .estimate-result {
    border: 1px solid #ccc;
  }
  
  .result-header {
      font-size: 16px;
      margin-bottom: 0;
    }

    .estimate {
      margin-bottom: 0;
    }

    #estimate-result {
      margin-top: 260px;
      padding: 50px 40px;
      width: 95%;
    }

    #company-info, #company-info * {
      visibility: visible;
      height: auto;

    }
    #company-info {
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    #company-info > * + * {
      padding: 10px 0;
    }

    .company-name {
      display: flex;
      font-size: 24px;
      letter-spacing: 1px;
      padding-left: 0;
    }

    .company-logo {
      background-image: url(../images/kyomomen.jpg);
      width: 60px;
      height: 50px;
      display: block;
      background-size: cover;
      padding-top: 50px;
    }

    .total {
      font-size: 18px;
    }

  /* 印刷時に非表示にしたい要素のスタイル */
  .non-printable {
    display: none;
  }

  .non-printable {
    display: block !important; /* 印刷時には表示を有効化 */
    position: fixed;
    top: 0;
    right: 0;
    font-size: 12px;
}
  }

  @media screen {
    .non-printable {
        display: none; /* 通常のブラウジングではこの要素は非表示 */
    }
}
