/* 変数 =========================  */
:root {
  --height-input: 28px;
}

/*body =========================  */

body {
  font-family: 'Noto Sans JP', sans-serif;
}
/* サイズ =========================  */
.main-wrap {
  background-color: #F5E3DC;
  max-width: 768px;
  margin: 0 auto;
}

#estimate-form {
  padding: 50px;
}

#estimate-form > * + * {
  margin-top: 15px;
}

/* main-wrapの中身 =========================  */
.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 50px;
  letter-spacing: 0.3px;
}

.form-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.form-label {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 0.1rem;
  width: 150px;
}

.select-wrap {
  width: auto;
  max-width: 300px;
  position: relative;
}

.select-wrap::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #E88579 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.form-select,.select-preprocessing,.select-accessory {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 250px;
  padding: 10px 40px 10px 10px;
  -webkit-appearance: none;
  appearance: none; 
}

.empty-select {
  display: none;
}

.form-select::-ms-expand{
  display: none;
}

#add-preprocessing,#add-accessory {
  margin-right: 300px;
  border: none;
  background-color: #DC8671;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

.select-preprocessing,.select-accessory {
  margin-right: 10px;
  margin-left: 150px;
  margin-top: 10px;
}

#accessory-container {
  display: flex;
}

#accessory-container > div > select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.add-select-wrap {
  width: 80%;
  display: flex;
  position: relative;
}

.add-select-wrap::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #E88579
  transparent transparent transparent;
  position: absolute;
  top: 60%;
  right: 28%;
  transform: translateY(-50%);
  pointer-events: none;
}

 .btn-delete {
  border: none;
  background-color: #DC8671;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
 }


.estimate-result {
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
}

.result-header {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.estimate {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.exempt {
  font-size: 12px;
}

/* 見積もり表示部分 =========================  */

.total {
  font-size: 18px;
  font-weight: 700;
  border-top: 1px dotted #000;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

/* お客様情報 =========================  */
.customer-header {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.customer-input {
  height: var(--height-input);
  width: 70%;
  padding: 5px;
}

.customer-input-sm {
  height: var(--height-input);
  width: 40%;
  padding: 5px;
}
/* 印刷時以外非表示の項目 =========================  */
#company-info {
visibility: hidden;
height: 0;
padding: 0;
}

.company-logo {
  background-color: #aaa;
  width: 100px;
  height: 100px;
}

/* 印刷設定 =========================  */
@media print {
    body * {
      visibility: hidden;  /* 全ての要素を非表示にする */
      padding: 30px;
      height: 0;
    }
    #estimate-result, #estimate-result *,#company-info, #company-info * {
      visibility: visible;  /* 見積もりとその子要素を表示 */
      height: auto;
    }

    #company-info * {
      padding: 0;
      margin-left: 120px;
    }

    #company-info {
      visibility: visible;
      height: auto;
    }
  }