:root {
/* color */
    --col-base1: #F2E5C3;
    --col-pink1: #EBB39C;
    --col-green1: #408e9a;
    --col-yel1: #EDCA79;
    --col-text1: #6a6863;
    --col-blue1: #4ea9b1;

/* font-size */
    --header-font-size: 26px;
    --header-font-weight: 700;
    --label-font-size: 18px;
    --input-font-size: 18px;
    --estimate-font-size: 18px;
    --btn-font-size: 16px;
    --total-font-size: 32px;
}
